annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.3.3
fastapi==0.135.1
h11==0.16.0
idna==3.13
jellyfish==1.2.1
networkx==3.6.1
numpy==2.4.4
pydantic==2.13.4
pydantic_core==2.46.4
regex==2026.4.4
segtok==1.5.11
starlette==1.0.0
tabulate==0.10.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.41.0
yake==0.7.3
